# Ignore everything
/*

# But not these files...
!*.vimrc
!.gitignore
!PrepareOs
!Readme.md
!.assets
!.zshrc
!.bash_aliases
!Installers
!Torrents
!.config/variety/variety.conf
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.config/sublime-text-3/Packages/User/Package Control.sublime-settings
